body {
    
}

div.jp-playlist-player {
    position: absolute;
    left: 350px;
}

div.jp-interface {
    background-color: #EEF4FF;
    height:252px;
    border:3px solid #B0CDFF;
    border-left: 0px none;
    position: relative;
}

div.jp-interface  ul.jp-controls {
    list-style-type:none;
    padding:0;
    margin: 0;
}

div.jp-interface  ul.jp-controls li {
    overflow:hidden;
    text-indent:-9999px;
}

li.jp-play,
li.jp-pause {
    display: block;
    position: absolute;
    bottom:20px;
    width:40px;
    height:40px;
    cursor: pointer;
}

div.jp-playlist-player li.jp-play,
div.jp-playlist-player li.jp-pause {
    left:48px;
}

li.jp-play {
    background: url("jplayer.blue.monday.jpg") 0 0 no-repeat;
}
li.jp-play:hover {
    background: url("jplayer.blue.monday.jpg") -41px 0 no-repeat;
}
li.jp-pause {
    background: url("jplayer.blue.monday.jpg") 0 -42px no-repeat;
}
li.jp-pause:hover {
    background: url("jplayer.blue.monday.jpg") -41px -42px no-repeat;
}
li.jp-stop {
    position: absolute;
    bottom:26px;
    background: url("jplayer.blue.monday.jpg") 0 -83px no-repeat;
    width:28px;
    height:28px;
    cursor: pointer;
}
div.jp-single-player li.jp-stop {
    left:90px;
}
div.jp-playlist-player li.jp-stop {
    left:126px;
}
li.jp-stop:hover {
    background: url("jplayer.blue.monday.jpg") -29px -83px no-repeat;
}
li.jp-previous {
    position: absolute;
    left:20px;
    bottom:26px;
    background: url("jplayer.blue.monday.jpg") 0 -112px no-repeat;
    width:28px;
    height:28px;
    cursor: pointer;
}
li.jp-previous:hover {
    background: url("jplayer.blue.monday.jpg") -29px -112px no-repeat;
}
li.jp-next {
    position: absolute;
    left:88px;
    bottom:26px;
    background: url("jplayer.blue.monday.jpg") 0 -141px no-repeat;
    width:28px;
    height:28px;
    cursor: pointer;
}
li.jp-next:hover {
    background: url("jplayer.blue.monday.jpg") -29px -141px no-repeat;
}
div.jp-progress {
    position: absolute;
    overflow:hidden;
    bottom:32px;
    background-color: #ddd;
    width:122px;
    height:15px;
}
div.jp-playlist-player div.jp-progress {
    left:164px;
}
div.jp-load-bar {
    background: url("jplayer.blue.monday.jpg") 0 -202px repeat-x;
    width:0px;
    height:15px;
    cursor: pointer;
}
div.jp-play-bar {
    background: url("jplayer.blue.monday.jpg") 0 -218px repeat-x ;
    width:0px;
    height:15px;
}
li.jp-volume-min {
    position: absolute;
    bottom:32px;
    background: url("jplayer.blue.monday.jpg") 0 -170px no-repeat;
    width:18px;
    height:15px;
    cursor: pointer;
}
div.jp-playlist-player li.jp-volume-min {
    left:296px;
}
div.jp-playlist-player li.jp-volume-max {
    left:368px;
}
li.jp-volume-min:hover {
    background: url("jplayer.blue.monday.jpg") -19px -170px no-repeat;
}
li.jp-volume-max {
    position: absolute;
    bottom:32px;
    background: url("jplayer.blue.monday.jpg") 0 -186px no-repeat;
    width:18px;
    height:15px;
    cursor: pointer;
}
li.jp-volume-max:hover {
    background: url("jplayer.blue.monday.jpg") -19px -186px no-repeat;
}

div.jp-volume-bar {
    position: absolute;
    overflow:hidden;
    bottom:37px;
    background: url("jplayer.blue.monday.jpg") 0 -250px repeat-x;
    width:46px;
    height:5px;
    cursor: pointer;
}
div.jp-playlist-player div.jp-volume-bar {
    left:314px;
}
div.jp-volume-bar-value {
    background: url("jplayer.blue.monday.jpg") 0 -256px repeat-x;
    width:0px;
    height:5px;
}
div.jp-play-time,
div.jp-total-time {
    position: absolute;
    bottom:16px;
    width:122px;
    font-size:.64em;
    font-style:oblique;
}
div.jp-total-time {
    text-align: right;
}
div.jp-playlist-player div.jp-play-time,
div.jp-playlist-player div.jp-total-time {
    left:164px;
}
