/* colors: http://colorschemedesigner.com/#3H51HaY--8HSM */

body {
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.selected {
    background-color: #D2E3FF !important;
}

.playing {
    font-weight: bold;
    background-color: #A9C2EE !important;
}

tr td:first-child {
    -moz-border-radius-bottomleft:8px;
    -webkit-border-bottom-left-radius:8px;
    border-bottom-left-radius:8px;
    -moz-border-radius-topleft:8px;
    -webkit-border-top-left-radius:8px;
    border-top-left-radius:8px;
    padding-left:4px;
}

tr td:last-child {
    -moz-border-radius-bottomright:8px;
    -webkit-border-bottom-right-radius:8px;
    border-bottom-right-radius:8px;
    -moz-border-radius-topright:8px;
    -webkit-border-top-right-radius:8px;
    border-top-right-radius:8px;
    padding-right:4px;
}

#playlistbody {
    padding: 0px;
}

.jp-playlist {
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 3px solid #B0CDFF;
}

#playlistURcorner {
    float: right;
    width: 18px;
    height: 20px;
    background-color: #B0CDFF;
    border-top-right-radius: 10px;
}

#jquery_jplayer {
    width: 900px;
}

.playlistHeadDiv {
    margin-right: 18px;
}

.playlistTable {
    table-layout: fixed;
    width: 100%;
}

thead {
    background-color: #B0CDFF;
}

th, td {
    padding: 0px;
}

tr {
    cursor: pointer;
}

tr * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

tbody tr:nth-child(odd) {
    background-color: #EEF4FF;
}

tbody tr:hover {
    background-color: #D2E3FF;
}

.placeholder {
    height: 10px;
}

th.artist, th.title, th.album {
    width: 24%;
}

th.tracknum, th.length, th.bitrate {
    width: 9%;
}

td.tracknum, td.bitrate, td.length {
    text-align: center;
}

div#leftPane {
    width: 330px;
}

div#browseContainer {
    width: 100%;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0px;
    top: 35px;
    border: 3px solid #B0CDFF;
    border-right: 0px none;
}

div#search {
    height: 100%;
    width: 100%;
    border-left: 3px solid #B0CDFF;
    border-top: 3px solid #B0CDFF;
    border-top-left-radius: 20px;
}

div#ditchSearchContainer {
    float: left;
    width: 10%;
}

button#ditchSearch {
    height:20px;
    width: 20px;
    position: relative;
    top: 5px;
    left: 7px;
}

div#goSearchContainer {
    float: left;
    width: 10%;
}

button#goSearch {
    height:20px;
    width: 20px;
    position: relative;
    top: 5px;
    left: 6px;
}

input#searchInput {
    float: left;
    width: 80%;
    position: relative;
    top: 2px;
}

div#searchBrowser {
    display: none;
}

.noBrowserFocusIndicator {
    outline-width: 0;
}

div#albumArtContainer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 250px;
    width: 250px;
    padding: 1px;
}

div#albumArtContainer:hover, div#albumArtContainer.expand {
    height: auto;
    width: auto;
}

img#albumArt {
    width: inherit;
    height: inherit;
}

.vsplitbar {
    padding-bottom: 1px;
    margin-left: 3px;
    margin-right: 10px;
    width: 3px;
    background: #B0CDFF;
}

.hsplitbar {
    background-color: pink;
    height: 10px;
    width: 50%;
}

.ui-state-hover {
    border: 1px solid #FBD850 !important;
    background-color: #EB8F00 !important;
}
