/* colors: http://colorschemedesigner.com/#3H51HaY--8HSM */

body {
    font-family: sans-serif;
    font-size: 0.8em;
    overflow: hidden;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    background-image: url('http://ocebackgrounds.files.wordpress.com/2008/06/picture-1.png');
}

.selected {
    background-color: #D2E3FF !important;
}

.playing {
    font-weight: bold;
    background-color: #A9C2EE !important;
}

tr td:first-child {
    border-bottom-left-radius:8px;
    border-top-left-radius:8px;
    padding-left:4px;
}

tr td:last-child {
    border-bottom-right-radius:8px;
    border-top-right-radius:8px;
    padding-right:4px;
}

#playlistbody {
    padding: 0px;
}

.jp-playlist {
    overflow-x: hidden;
    overflow-y: scroll;
    border-right: 3px solid #B0CDFF;
    border-bottom: 3px solid #B0CDFF;
    margin-left: 3px;
}

#playlistURcorner {
    float: right;
    width: 18px;
    height: 20px;
    background-color: #B0CDFF;
    border-top-right-radius: 10px;
}

#jquery_jplayer {
    width: 900px;
}

.playlistHeadDiv {
    margin-right: 18px;
}

.playlistTable {
    table-layout: fixed;
    width: 100%;
}

thead {
    background-color: #B0CDFF;
}

th, td {
    padding: 0px;
}

tr {
    cursor: pointer;
}

tr * {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

tbody tr:nth-child(odd) {
    background-color: #EEF4FF;
}

tbody tr:hover {
    background-color: #D2E3FF;
}

.placeholder {
    height: 10px;
}

th.artist, th.title, th.album {
    width: 24%;
}

th.tracknum, th.length, th.bitrate {
    width: 9%;
}

td.tracknum, td.bitrate, td.length {
    text-align: center;
}

div#leftPane {
    width: 330px;
}

div#browseContainer {
    width: 100%;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0px;
    top: 35px;
    border: 3px solid #B0CDFF;
    border-right: 0px none;
    border-bottom-left-radius: 15px;
}

div#search {
    height: 32px;
    width: 100%;
    border-left: 3px solid #B0CDFF;
    border-top: 3px solid #B0CDFF;
    border-top-left-radius: 20px;
    background-color: #EEF4FF;
}

div#ditchSearchContainer {
    float: left;
    width: 10%;
}

button#ditchSearch {
    height:20px;
    width: 20px;
    position: relative;
    top: 5px;
    left: 7px;
}

div#goSearchContainer {
    float: left;
    width: 10%;
}

button#goSearch {
    height:20px;
    width: 20px;
    position: relative;
    top: 5px;
    left: 6px;
}

input#searchInput {
    float: left;
    width: 80%;
    position: relative;
    top: 2px;
}

div#searchBrowser {
    display: none;
}

.noBrowserFocusIndicator {
    outline-width: 0;
}

.vsplitbar {
    padding-bottom: 1px;
    margin-left: 3px;
    margin-right: 10px;
    width: 3px;
    background: #B0CDFF;
}

.ui-state-hover {
    border: 1px solid #FBD850 !important;
    background-color: #EB8F00 !important;
}

div#dashboard {
    height: 45px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 3px solid #B0CDFF;
    border-radius: 15px;
}

.dashboardIcon:first-child {
    margin-left: 10px;
}

.dashboardIcon {
    float: left;
    width: 40px;
    height: 40px;
}

.dashboardMarqueeContainer {
    width: 10%;
    margin: 5px;
    position: relative;
    top: 8px;
}

.dashboardMarquee {
    white-space: nowrap;
    overflow: hidden;
    overflow-x: -webkit-marquee;
    -webkit-marquee-speed: 100;
    -webkit-marquee-increment: small;
    -webkit-marquee-style: alternate;
}

.transparent {
    background-color: rgba(255, 255, 255, 0.9);
}

.left {
    float: left;
}


/**
 * jplayer shit
 */
 
#player_container {
	position:relative;
	padding:5px;
}
 
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}
 /*
ul#icons #volume-min {
	margin:2px 140px 2px 364px;
}*/
 
#sliderVolume {
    width: 150px;
    height: .4em;
    position: relative;
    top: 6px;
}

#sliderVolume .ui-slider-handle {
    height:.8em;
    width:.8em;
}
 
#bars_holder {
    width: 150px;
    margin-left: 10px;
    margin-top: 4px;
}
 
#sliderPlayback .ui-slider-handle {
    height:1.2em;
}
 
#loaderBar.ui-progressbar {
    height:.2em;
    border:0;
}

.hidden {
    display: none;
}

#playModeContainer {
    margin-left: 10px;
    zoom: 0.8;
}

#playMode, #playModeContainer label {
    width: 160px;
}

#playMode span.ui-button-text {
    padding: 0.4em 1em;
}

#playModeMenu {
    position: absolute;
    bottom: 100%;
}
