.playing {
    color: white;
    background-color: #0099FF !important;
}

th, td {
    padding: 0px;
}

tr {
    cursor: pointer;
}

tbody tr:nth-child(odd) {
    background-color: #EEEEEE;
}

tbody tr:hover {
    background-color: #DDEEFF;
}

body {
   -moz-user-select: none;
   -khtml-user-select: none;
   user-select: none;
}

.playlistHead {
    display: block;
    width: 870px;
    margin-right: 14px;
}

.playlistHeadRow {
    width: 870px;
}

.placeholder {
    height: 10px;
}

.artist, .title, .album {
    width: 220px;
}

.track, .length, .bitrate {
    width: 70px;
}

td.track, td.bitrate {
    text-align: center;
}

td.length {
    text-align: right;
}

div#browser {
    width: 330px;
    position: absolute;
}
