<html>
<head>
<title>music</title>
<script type="text/javascript" src="/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/jquery.jplayer.js"></script>
<script type="text/javascript" src="/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/jquery-ui-1.8rc3.custom.min.js"></script>
<script type="text/javascript" src="/scatterbrainz.js"></script>
<script type="text/javascript" src="/jquery.tree.js"></script>
<script type="text/javascript" src="/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/splitter.js"></script>
<script type="text/javascript" src="/jsTreePlugins/jquery.tree.hotkeys.js"></script>
<link rel="stylesheet" type="text/css" href="/scatterbrainz.css" />
<link rel="stylesheet" type="text/css" href="/jquery-ui-1.8rc3.custom.css" />
</head>

<body>

<div id="leftPane">
    <div id="search">
        <div id="ditchSearchContainer">
            <button id="ditchSearch">Clear search</button>
        </div>
        <input type="text" id="searchInput">
        <div id="goSearchContainer">
            <button id="goSearch">Search</button>
        </div>
    </div>

    <div id="browseContainer" class="expandHeightToFitBrowser transparent" expandHeightOffsetPx="80">
        <div id="browser" class="noBrowserFocusIndicator" tabindex="100"></div>
        <div id="searchBrowser" class="noBrowserFocusIndicator" tabindex="101"></div>
    </div>
</div>
<div class="jp-playlist-player">
    <div id="jquery_jplayer"></div>
    <div id="playlistURcorner"></div>
    <div class="playlistHeadDiv noBrowserFocusIndicator">
        <table id="playlistHeadTable" class="playlistTable" border="0" cellspacing="0" cellpadding="0">
            <thead class="playlistHead">
                <tr class="playlistHeadRow">
                    <th class='artist'>Artist</th>
                    <th class='title'>Title</th>
                    <th class='album'>Album</th>
                    <th class='tracknum'>Track</th>
                    <th class='length'>Length</th>
                    <th class='bitrate'>Bitrate</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="rightPane">
        <div class="jp-playlist noBrowserFocusIndicator transparent expandHeightToFitBrowser" expandHeightOffsetPx="77" tabindex="102">
            <table id="playlist" class="playlistTable" border="0" cellspacing="0" cellpadding="0">
                <thead class="playlistHead">
                    <tr class="playlistHeadRow">
                        <th class='artist'></th>
                        <th class='title'></th>
                        <th class='album'></th>
                        <th class='tracknum'></th>
                        <th class='length'></th>
                        <th class='bitrate'></th>
                    </tr>
                </thead>
                <tbody id="playlistbody"></tbody>
            </table>
        </div>
    </div>
</div>

<!-- leave this div for splitbar so it doesn't interfere w/ jstree-marker -->
<div></div>

<div id="dashboard" class="transparent">

    <img class="dashboardIcon" src="http://icons3.iconfinder.netdna-cdn.com/data/icons/blackblue/128/guitar.png" />

    <div class="left dashboardMarqueeContainer">
        <div id="playingArtist" class="left dashboardMarquee"></div>
    </div>

    <img class="albumArt dashboardIcon" src="/icons/vinyl.png" />
    <div class="left dashboardMarqueeContainer">
        <div id="playingAlbum" class="left dashboardMarquee"></div>
    </div>

    <img class="dashboardIcon" src="/icons/note3.png" />
    <div class="left dashboardMarqueeContainer">
        <div id="playingTrack" class="left dashboardMarquee"></div>
    </div>

    <div id="controlsDashboard" class="left">
        <div id="player_container"> 
            <ul id="icons" class="left ui-widget ui-helper-clearfix"> 
                <li id="prev" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-seek-prev"></span></li>
                <li id="play" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-play"></span></li> 
                <li id="pause" class="hidden ui-state-default ui-corner-all"><span class="ui-icon ui-icon-pause"></span></li> 
                <li id="next" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-seek-next"></span></li> 
                <li id="volume-min" class="hidden ui-state-default ui-corner-all"><span class="ui-icon ui-icon-volume-off"></span></li> 
                <li id="volume-max" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-volume-on"></span></li> 
            </ul>
            <!-- Sliders -->
            <div id="bars_holder" class="left"> 
                <div id="sliderPlayback"></div>
                <div id="loaderBar"></div>
                <div id="sliderVolume"></div>
            </div>
	    <div id="playModeContainer" class="left" style="position: relative;">
		<button id="playMode">Consecutive</button>
		<div id="playModeMenu" class="hidden">
		    <input type="radio" id="playlistNothing" name="repeat" checked="checked" /><label for="playlistNothing">Consecutive</label>
		    <input type="radio" id="playlistRepeat" name="repeat" /><label for="playlistRepeat">Repeat playlist</label>
		    <input type="radio" id="playlistRandomTrack" name="repeat" /><label for="playlistRandomTrack">Random track</label>
		    <input type="radio" id="playlistRandomAlbum" name="repeat" /><label for="playlistRandomAlbum">Random album</label>
		</div>
	    </div>
        </div>
    </div>
</div>

</body>
</html>
