<html>
  <head>

    <script type="text/javascript" src="/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/jqplugs/iscroll-column.js"></script>
    <script type="text/javascript" src="/ben/rplayerConstants.js"></script>


    <script type =  "text/javascript" src = "/ben/rLinkedList.js"></script>
    <script type =  "text/javascript" src = "/ben/rManager.js"></script>
    <script type =  "text/javascript" src = "/ben/rCol2SubViews.js"></script>
    <script type =  "text/javascript" src = "/ben/rPrefs.js"></script>

    <script type = "text/javascript" src="/ben/rColMLinks.js"></script>

    <script type = "text/javascript" src = "/ben/rCol2.js"></script>
    <script type = "text/javascript" src = "/ben/rColControls.js"></script>

    <script type="text/javascript" src="/ben/rosa_js.js"></script>
    <link rel="stylesheet" type="text/css" href="/ben/display2.css" /> 
    <!--Set up positioning etc--!>

    <script type="text/javascript" src="/ben/initView.js"></script>
    <script type="text/javascript" src="/ben/rplayerControls.js"></script>
    <script type="text/javascript" src="/ben/rcolumns.js"></script>
      
  </head>


  <body>



            
    <div id = "main_outer">
      <div id = "main_display"></div>

    </div>

    
    <div id = "bcmParent" >
      <div id = "browseControlsMain" class = "controls"></div>
    </div>
    <div id = "playControlsMain" class = "controls"></div>

    <div id = "HUD">
      <div id = "HUD_BG"></div>
      <div id = "HUD_TEXT"></div>


    </div>
    

  </body>
</html>
