<html>
  <head>

    <script type="text/javascript" src="/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/jqplugs/iscroll.js"></script>
    <script type="text/javascript" src="/ben/rosa_js.js"></script>

    <!--Set up positioning etc--!>
    <script type ="text/javascript" src = "/ben/initView.js"></script>


  </head>

  <body>
    <div id = "main_outer">
    <div id = "main_display">
      <div class = "scrollwrapper" id = "wrapper1">
	  <div class = "scrollcolumn" id = "column1">
	    <div id = "st1" class = "iscrolled_list">
	      SAMPLE<br/>SAMPLE<br/> SAMPLEBLOOO<br/> SAMPLE<br/> TEXT<br/>
	      SAMPLE<br/>SAMPLE<br/> SAMPLEBLOOO<br/> SAMPLE<br/> TEXT<br/>
	      SAMPLE<br/>SAMPLE<br/> SAMPLEBLOOO<br/> 2nd<br/> 1st<br/>	
	    </div>
	  </div>
      </div>
      <div class = "scrollwrapper" id = "wrapper2">
	  <div class = "scrollcolumn" id = "column2">
	    <div id = "st2" class = "iscrolled_list">
	      SAMPLE<br/>SAMPLE<br/> SAMPLEBLOOO<br/> SAMPLE<br/> TEXT<br/>
	      SAMPLE<br/>SAMPLE<br/> SAMPLEBLOOO<br/> SAMPLE<br/> TEXT<br/>
	      SAMPLE<br/>SAMPLE<br/> SAMPLEBLOOO<br/> 2nd<br/> 1st<br/>	
	    </div>
	  </div>
      </div>
    </div>
    </div>

    <div id = "info_main">
      <div id = "info_text"></div>
    </div>
	

  </body>
</html>
